body {
  font-family: "Karla", sans-serif;
}

.nav-item {
  text-transform: uppercase;
}

.carousel img {
  max-height: 550px;
}

#about {
  background-color: #003780;
  background-image: url("./img/contour-background.png");
  background-size: cover;
}

.btn-tokped {
  color: white;
  background-color: #03ac0e !important;
  border-radius: 20px;
}

.btn-shopee {
  color: white;
  background-color: #ee4d2d !important;
  border-radius: 20px;
}

.follow-us li {
  display: inline;
  list-style: none;
  margin: 5px;
}

.follow-us li :hover {
  color: yellow;
}

.follow-us ul {
  display: inline-flex;
  padding-left: 0px;
}

.follow-us a {
  color: white;
}

footer a {
  color: white;
}

/* DESKTOP VERSION */
@media (min-width: 768px) {
}
