body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

nav a.active {
  font-weight: bold;
}

@media (min-width: 768px) {
  .lead ul {
    display: inline-flex;
    margin-left: -2rem;
  }

  .lead li {
    margin-left: 2rem;
    list-style: circle;
  }
}

.education li {
  list-style: none;
}

.nav-link :hover {
  color: #dc3545;
}

.link-cv :hover {
  color: black;
}

section a.btn {
  margin-top: 10px;
}

.gallery-img {
  position: absolute;
  width: 90%;
}

#gallery {
  background-image: url("./img/contour-background.png");
  background-position: center center;
  background-attachment: fixed;
}

#services {
  background-image: url("./img/contour-background.png");
  background-position: center center;
  background-attachment: fixed;
}

#services .card-title {
  padding-bottom: 10px;
}

.card-services {
  width: 90%;
  max-width: 500px;
  height: 400px;
  padding: 1rem;
  border-radius: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
}

.card-services li {
  list-style: none;
  font-weight: bold;
  font-style: oblique;
  margin-left: -25px;
}

.card-services img {
  max-width: 150px;
  padding: 10px;
}

#projects {
  background-image: url("./img/contour-background.png");
  background-position: center center;
  background-attachment: fixed;
}

#resume li {
  font-style: italic;
}

#education li {
  list-style: none;
}

.desc {
  padding-top: 10px;
}

#skills {
  padding-top: 20px;
  padding-bottom: 60px;
  margin: auto;
  color: white;
  background-color: #273036;
}

.skills-img {
  width: 100%;
}

.card-thumbnail img {
  width: 120px;
  height: 120px;
  margin: 10px;
}

#contact {
  color: white;
  padding-top: 20px;
  padding-bottom: 50px;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.teks-berjalan {
  color: #dc3545;
}
