body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

nav a.active {
  font-weight: bold;
}

.nav-link :hover {
  color: #dc3545;
}

section a.btn {
  margin-top: 10px;
}

#services .card-title {
  padding-bottom: 10px;
}

.card-services {
  width: 100%;
  max-width: 500px;
  height: 400px;
  padding: 1rem;
  border-radius: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
}

.card-services li {
  list-style: none;
  font-weight: bold;
  font-style: oblique;
  margin-left: -25px;
}

.card-services img {
  max-width: 150px;
  padding: 10px;
}

#services,
#skills,
#gallery,
#projects {
  background-image: url("./img/contour-background.png");
  background-position: center center;
  background-attachment: fixed;
}

#resume li {
  font-style: italic;
}

#education,
.category-head li {
  list-style: none;
}

.desc {
  padding-top: 10px;
}

.skills-img {
  width: 100%;
}

.card-thumbnail img {
  width: 120px;
  height: 120px;
  margin: 10px;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.teks-berjalan {
  color: #dc3545;
}

.category-title {
  display: flex;
  cursor: pointer;
  padding: 12px;
  background: #273036;
}

.social a {
  display: inline-block;
}

.gallery-active {
  background-color: #dc3545;
}

.btn-kirim:hover {
  opacity: 0.7;
}

/* Mobile Version */
@media (min-width: 768px) {
  .lead ul {
    display: inline-flex;
    margin-left: -2rem;
  }

  .lead li {
    margin-left: 2rem;
    list-style: circle;
  }
}
