body {
  background-color: black;
}

nav a.active {
  font-weight: bold;
}

.jumbotron {
  padding: 5rem 3rem 5rem;
}

section a.btn {
  margin-top: 10px;
}

#about {
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 30px;
}

#about img {
  margin-top: 10px;
}

#projects {
  margin-top: -50px;
  background-image: url('./img/ONE.jpg');
  background-attachment: fixed;
}

#experience {
  color: white;
}

#skills {
  color: white;
  background-color: #273036;
}

.skills-img {
  width: 100%;
}

.card-thumbnail img {
  width: 120px;
  height: 120px;
  margin: 10px;
}

#contact {
  color: white;
}
