h1 {
    font-family: 'Great Vibes', cursive;
}

@media (max-width: 2000px) {
    .navbar {
        max-width: 475px;
        margin: 0 auto;
        background-color: #533528;
    }

    .navbar .btn {
        background-color: #533528;
    }

    #hero {
        height: 100vh;
        max-width: 475px;
        margin: 0 auto;
        background-image: url("./img/Background1.png");
        background-size: cover;
        background-position: center;
    }

    #hero img {
        max-width: 200px;
    }

    #event {
        height: 100vh;
        max-width: 475px;
        margin: 0 auto;
        background-image: url("./img/Background1.png");
        background-size: cover;
        background-position: center;
    }

    #pengantin {
        height: 100vh;
        max-width: 475px;
        margin: auto;
        background-image: url("./img/Background2.png");
        background-size: cover;
        background-position: center;
    }

    .countdown {
        margin-top: -15px;
    }

    .countdown .col {
        margin: 5px;
        padding: 20px;
        font-weight: 600;
    }

    .countdown h5 {
        font-weight: bold;
    }
}